@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 0 0% 17%;
    --primary-foreground: 0 0% 77%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 94% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 17%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 218 14% 16%;
    --foreground: 219 14% 71%;
    --muted: 218 12% 20%;
    --muted-foreground: 218 12% 70%;
    --popover: 218 14% 13%;
    --popover-foreground: 219 14% 81%;
    --card: 218 14% 14%;
    --card-foreground: 219 14% 76%;
    --border: 218 4% 21%;
    --input: 218 4% 24%;
    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 218 14% 31%;
    --accent-foreground: 218 14% 91%;
    --destructive: 10 85% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 8px;
    background-color: rgb(182, 182, 182);
  }

  ::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
    background-color: transparent;
  }
}
